<div id="app">
    <nav class="navbar navbar-expand navbar-dark navs-bg">
      <a href="#" class="navbar-brand">MaBarba</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showManagerBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item" *ngIf="showManagerBoard">
          <a href="/mod" class="nav-link" routerLink="mod">My barbers</a>
        </li>
        <li class="nav-item" *ngIf="showManagerBoard">
          <a href="/mod" class="nav-link" routerLink="mod">My Salon</a>
        </li>
        <li class="nav-item" *ngIf="showManagerBoard">
          <a href="/mod" class="nav-link" routerLink="mod">hair styles</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href="/user" class="nav-link"  routerLink="user">Salons</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href="/user" class="nav-link"  routerLink="user">Coiffeurs</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href="/user" class="nav-link"  routerLink="user">User</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a  href="/auth/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/auth/login"class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
   <!--    <button color ="warning" class="nav-link" mat-button routerLink="/auth/register"> Sign Up</button>
      <button color ="warning" class="nav-link" mat-button routerLink="/auth/login"> Login </button> -->
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
        
  
  </div>