<form  [formGroup]="form2" class="course-details-form" (submit)="onSubmit2()">


   <!--  <mat-form-field>


        <input matInput placeholder="Barber's Town"  >

         <mat-hint align="end">

            {{name.value.length}} / 60

        </mat-hint> 

       


    </mat-form-field>
    <mat-form-field>


        <input matInput placeholder="Barber's city">

         <mat-hint align="end">

            {{phone.value.length}} / 60

        </mat-hint>

       


    </mat-form-field> -->
    <mat-form-field>


        <input matInput placeholder="Phone Number" formControlName="telephone" #telephone>

        <mat-hint align="end">

            {{telephone.value.length}} / 60

        </mat-hint>
        
       <!--  <mat-error *ngIf="courseTitle.errors?.minlength">

            A minimum length of 5 characters is required.

        </mat-error>(formEvent1)="addForm1($event)"  -->


    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Go</button>
    <!-- <mat-radio-group class="course-type" formControlName="courseType">

        <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>

        <mat-radio-button value="premium">Premium</mat-radio-button>

    </mat-radio-group> -->

   <!--  <mat-form-field>

        <mat-select formControlName="category"
                    placeholder="Select category">

            <mat-option>None</mat-option>

            <mat-optgroup label="Beginners">

                <mat-option value="newprogramming">New To Programming</mat-option>
                <mat-option value="newjavascript">New To Javascript</mat-option>
                <mat-option value="newangular">New To Angular</mat-option>

            </mat-optgroup>

            <mat-option value="INTERMEDIATE">Intermediate</mat-option>
            <mat-option value="ADVANCED">Advanced</mat-option>

        </mat-select>

    </mat-form-field> -->

   

   <!--  <mat-checkbox color="primary" 
        [indeterminate]="true">

        Downloads allowed?

    </mat-checkbox> -->

   <!--  <mat-form-field appearance="outline">

        <textarea matInput placeholder="Description" formControlName="longDescription"

                  cdkTextareaAutosize [cdkAutosizeMinRows]="2"
                  [cdkAutosizeMaxRows]="5">


        </textarea>

    </mat-form-field> -->


</form>



