
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>

        <mat-nav-list (click)="sidenav.close()">

            <button mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </button>

            <button mat-list-item routerLink="about">
                <mat-icon>question_answer</mat-icon>
                <span>About</span>
            </button>

            <button mat-list-item routerLink="drag-drop-example">
                <mat-icon>drag_indicator</mat-icon>
                <span>Drag and Drop</span>
            </button>

            <button mat-list-item routerLink="tree-demo">
                <mat-icon>park</mat-icon>
                <span>Tree Demo</span>
            </button>

            <button mat-list-item routerLink="virtual-scrolling">
                <mat-icon>import_export</mat-icon>
                <span>Virtual Scrolling</span>
            </button>

            <button mat-list-item>
                <mat-icon>person_add</mat-icon>
                <span>Register</span>
            </button>

            <button mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </button>

        </mat-nav-list>


    </mat-sidenav>


    <mat-toolbar color="primary" *ngIf="isLoggedIn">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="container">
                        
                <a mat-button  style="margin-left: 5%;">
                   <span *ngIf="!isLoggedIn">Mabarba</span> 
                   <a href="/profile" *ngIf="isLoggedIn" class="nav-link" routerLink="profile">{{ username }}</a>
                </a>
        
               <!--  <mat-menu #dropdown>
        
                    <button mat-menu-item routerLink="/">Courses</button>
        
                    <button mat-menu-item routerLink="/about">About</button>
        
                </mat-menu> -->
              
                    <a mat-button routerLink="/home" *ngIf="isLoggedIn">
                        <mat-icon>home</mat-icon>
                        Home
                    </a>
                    <a class="navbar-nav" style="margin-top: 1.5%;" *ngIf="showManagerBoard" mat-button  [matMenuTriggerFor]="dropdownManager">
                        <mat-icon>supervised_user_circle</mat-icon>
                        Manager Board
                     </a> 
                    <a mat-button routerLink="/home" *ngIf="isLoggedIn">
                        <mat-icon>search</mat-icon>
                        Search
                    </a>
                                       
                    <a mat-button routerLink="/home" *ngIf="isLoggedIn">
                        <mat-icon>person</mat-icon>
                        My profil
                    </a>
                    <a mat-button routerLink="drag-drop-example" *ngIf="isLoggedIn">
                        <mat-icon>favorite_border</mat-icon>
                        <span>my Favorites</span>
                    </a>
                    <a mat-button routerLink="/admin" [matMenuTriggerFor]="dropdownAdmin" *ngIf="showAdminBoard">
                        <mat-icon>supervised_user_circle</mat-icon>
                        Admin Board
                    </a> 
                    <a mat-button routerLink="/admin" [matMenuTriggerFor]="dropdownAdmin" *ngIf="showAdminBoard">
                        <mat-icon>supervised_user_circle</mat-icon>
                        Admin Board
                    </a> 
                    <mat-menu #dropdownAdmin>
            
                        <button mat-menu-item routerLink="/manager"> <mat-icon>supervisor_account</mat-icon> Manager Board</button>            
                        <button mat-menu-item routerLink="/manager-barber">  <mat-icon>dvr</mat-icon> My barbers </button>                       
                        <button mat-menu-item routerLink="/about">  <mat-icon>domain_disabled</mat-icon> My Salons </button>
                        <button mat-menu-item routerLink="/"> <mat-icon>border_color</mat-icon> Reservation </button>
                        <button mat-menu-item routerLink="/"> <mat-icon>payment</mat-icon> Payment </button>
                                  
                    </mat-menu>                   
                    <mat-menu #dropdownManager>                                  
                        <button mat-menu-item routerLink="/manager-barber">  <mat-icon>dvr</mat-icon> My barbers </button>   
                        <button mat-menu-item routerLink="/hair" *ngIf="isLoggedIn"><mat-icon>folder_shared</mat-icon> Hair style </button>    
                        <button mat-menu-item routerLink="/salons">  <mat-icon>domain_disabled</mat-icon> My Salons </button>
                        <button mat-menu-item routerLink="/"> <mat-icon>border_color</mat-icon> Reservation </button>
                        <button mat-menu-item routerLink="/"> <mat-icon>payment</mat-icon> Payment </button>                                  
                    </mat-menu>  
               
             
           
                <a mat-button routerLink="/register" *ngIf="!isLoggedIn">
                    <mat-icon>person_add</mat-icon>
                    Register
                </a>
        
                
              
                <a mat-button  routerLink="/login"  *ngIf="!isLoggedIn">
                    <mat-icon>account_circle</mat-icon>
                    Login
                </a>
           
                <a mat-button *ngIf="isLoggedIn">               
                    <mat-icon (click)="logout()">power_settings_new</mat-icon>   
                   
                </a>
            
         
        </div>    

    </mat-toolbar>

    <mat-toolbar color="primary" *ngIf="!isLoggedIn">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="container">
             <div class="row">

                <div class="col-md-9">
                    <a mat-button  style="margin-left: 6%;" routerLink="/">
                        <span *ngIf="!isLoggedIn">Mabarba</span> 
                       
                     </a>
             
                </div>
                <div class="col-md-3">
                
                      <a mat-button routerLink="/register">
                         <mat-icon>person_add</mat-icon>
                         Register
                     </a>
                          
                     <a mat-button  routerLink="/login" >
                         <mat-icon>account_circle</mat-icon>
                         Login
                     </a>
                
                </div>
                
    

             </div>           
        </div>    
       
    </mat-toolbar>

    <router-outlet></router-outlet>
     
    <footer class="p-5 bg-theme text-small" style="margin-top: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 text-white">
                    <img src="https://sunlimetech.com/images/logo-white.png" class=" mb-5" alt="">
                    <h5 class="text-white">Téléchargements</h5>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank"><img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-appstore-white.png" class=" mb-3" alt=""></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank"><img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplay-white.png" class=" mb-3" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <h5 class="text-white">MaBarba</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">C'est quoi MaBarba</a></li>
                                <li><a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">Comment ça marche ?</a></li>
                            </ul>
                          
                        </div>
                        <div class="col-12 col-sm-4">
                            <h5 class="text-white">Produits</h5>
                            <ul class="list-unstyled">
                                <li><a href="vectorvest-7.html">MaBarba</a></li>
                                <li><a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">Stock Advisory – Mobile App</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4">
                            <h5 class="text-white">Evènements</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">US Events</a></li>
                                <li><a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">CA Events</a></li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="list-unstyled list-inline mb-0 text-center">
                <li class="list-inline-item">
                    <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">
                        <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-facebook-white.png" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">
                        <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-twitter-white.png" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">
                        <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplus-white.png" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">
                        <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-linkdin-white.png" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" target="_blank">
                        <img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-youtube-white.png" alt="">
                    </a>
                </li>
            </ul>
            <hr>
            <div class="col-12 text-center text-white">
                <p>© 2022 MaBarba ®. Tous droits réservés.</p>
            </div>
        </div>
      </footer>
      
    
</mat-sidenav-container>
