a:hover {
	text-decoration: none;
}
.img-box {
	position: relative;
	display: flex;
	border: 1px #717070 dashed;
	background-color: #fbfbfb;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 1.5rem;
}
#avatar {
	max-width: 464px;
	max-height: 500px;
}
.btn-submit {
	width: 120px;
}
.spinner-border {
	height: 20px;
	width: 20px;
}
.invalid {
  border: 1px solid red;
}
.modal-dialog {
    min-width: 50%;
}
.modal-body {
    padding: 3%;
}
.input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35.2px;
}
.roundImg{
    border-radius: 100%;
    width: 40px;
    height:40px;
  }

  .dimensionImg{    
	display:block;
	padding-left: 25%;
    width: 60%;
    height:20%;
  }

  table {
	width: 100%;
  }

  .example-chip-list {
	width: 100%;
  }

  .edit-course-form {
	min-width: 300px;
  }
  
  .mat-form-field {
	  display: block;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
}
.edit-course-form {
	min-width: 300px;
  }
  
  .mat-form-field {
	  display: block;
  }
  
  textarea {
	  height: 100px;
	  resize: vertical;
  }